.detail {
    box-sizing: border-box;
    width: 1000px;
    height: 500px;
    background: blueviolet;
    border: 4px solid greenyellow;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin:20px;
}
.detail p{
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    color: greenyellow;
    position: absolute;
    top: 2vw;
    left: 1vw;
    text-transform: uppercase;
}
.detail img{
    margin-top: 9%;
   margin-left: 50%;
   border-radius: 50%;
   border: 5px solid greenyellow;
}